<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Show Info</title>
  </head>
  <body>
    <h1>Report Of Student</h1>
        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Details</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                     

                        <tr>
                            <td><h2><b>ID</b></h2> </td>
                            <td><h2><b>{{ products.id }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Name</b></h2> </td>
                            <td><h2><b>{{ products.name }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Phone</b></h2> </td>
                            <td><h2><b>{{ products.phone }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Email</b></h2> </td>
                            <td><h2><b>{{ products.email }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>School</b></h2> </td>
                            <td><h2><b>{{ products.school }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Degree </b></h2></td>
                            <td><h2><b>{{ products.degree }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>University</b></h2> </td>
                            <td><h2><b>{{ products.university }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Skill</b></h2> </td>
                            <td><h2><b>{{ products.skill }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>About Me</b></h2> </td>
                            <td><h2><b>{{ products.about_you }}</b></h2></td>
                        </tr>
                        <tr>
                            <td><h2><b>Experience</b></h2> </td>
                            <td><h2><b>{{ products.previous_work }}</b></h2></td>
                        </tr>

                      
                     
                    </tbody>
                  </table>

            </div>
        </div>


    </div>




  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
   